
.transaction-inside-container{
    margin: 10px;
    /* background-color: red; */
    /* display: flex; */
}
.transaction-text-box{
    border:0;
    outline: 0;
    font-size: 3.0rem;
    font-weight: 500;
    color: #1B8AB8;
    background-color: aliceblue;
    text-align: center;
    border: 1px solid #1B8AB8;
    border-radius: 7px;
    height: auto;
}
.category-box{
    display: flex;
    border:0;
    outline: 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: gray;
    background-color: aliceblue;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #1B8AB8;
    border-radius: 7px;
    height: auto;
}
.transaction-category{
    display: flex;
}
/* -------------------------------------------- */
.transactionHash-box{
    margin-left: 4px;
    margin-right: 20px;
}
.from-box{
    margin-right: 90px;
}
.to-box{
    margin-right: 120px;
}

/* -------------------------------------------- */

.transaction-category{
    margin-top: 40px;
    border-bottom: 1px solid #1B8AB8;
}
.transactionHash{
    /* background-color: red; */
    font-size: 1.3rem;
    margin-right: 20px;
    width: 170px;
}
.from{
    /* background-color: blue; */
    font-size: 1.3rem;
    margin-right: 20px;
    width: 120px;
}
.to{
    /* background-color: green; */
    font-size: 1.3rem;
    margin-right: 27px;
    width: 120px;
}
.nonce{
    /* background-color: aqua; */
    font-size: 1.3rem;
}

.transaction-refresh-btn{
    text-align: center;
    font-size: 3.0rem;
}