.getTransaction-container {
    display: flex;
    /* background-color: brown; */
    justify-content: center;
    height: 73vh;
    width: 99%;
    margin: 10px;
}

.getTransaction-inside-container{
     /* background-color: blue; */
     width: 61%;
     margin: 10px;
     border: 1px solid #1B8AB8;
     border-radius: 7px;
}
.transaction-header{
    border:0;
    outline: 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #1B8AB8;
    background-color: aliceblue;
    text-align: center;
    border: 1px solid #1B8AB8;
    border-radius: 7px;
    height: auto;
    margin: 10px;
}
.transaction-info-box div{
    /* background-color: red; */
    margin: 10px;
    margin-top: 32px;
    border-bottom : 1px solid #1B8AB8;
    font-size: 1.4rem;
}