.front-container{
    display: flex;
    /* background-color: brown; */
    height: 73vh;
    width: 99%;
    margin: 10px;
}
.transaction-container{
    /* background-color: blue; */
    width: 50%;
    margin: 10px;
    border: 1px solid #1B8AB8;
    border-radius: 7px;
}